.botBar {
   bottom: -15px;
   position: fixed;
   list-style-type: none;
   text-align: center;
   width: 8%;
   margin: 0 auto;
   right: 0;
   left: 0;
}

.popUp {
   background-color: rgba(77,26,26) !important;
   /* color:  rgba(77,26,26); */
   font-size: 1.2rem;
   padding: 0.1rem;
   text-align: center;
   border-top-left-radius: 12%;
   border-top-right-radius: 12%;
   transition: ease-in-out 0.3s;
}

.popUp:hover {
   display: block;
   color: #ffffff;
   padding: 0.2rem;
   font-size: 1.4rem;
   /* border-top-left-radius: 0%;
   border-top-right-radius: 60%; */
   cursor: pointer;
   box-shadow: 0 0 0.2rem 0.2rem rgba(255, 251, 220, 0.5);
}

.popUp:active {
   padding: 0.2rem;
   font-size: 1.3rem;
   transition: ease 0.1s;
}

.scroller {
   
}

/* .scroller :hover {
   display: block;
} */