
.parent {
   position: absolute;
   min-width: 100vw;
   max-width: 100vh;
   max-height: 100vw;
   overflow: visible;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}

.light {
   padding-top: 200px;
   background-color: green;
}

/* Issue is that the backsplash is increasing the height, 
and to keep it absolute or whatever the image is stretching to match
the new height. I think solution is to move the backsplash
to it's own "position" or whatever. The goal would be that the backsplash can 
be scrollable, but the main page is not.*/
/* .App {
   text-align: center;
   background-repeat: no-repeat;
   background-size: cover;
} */

.App-header {
   min-height: 100vh;
   display: inline-block;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
  color: #fff;
}

