
.parent {
   position: absolute;
   min-width: 100vw;
   max-width: 100vh;
   max-height: 100vw;
   overflow:hidden
}

.App-link {
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
