.transparent {
   top: 8.5rem;
   background-color: rgba(238, 235, 235, 0.7);
   height: min-content;
   width: min-content;
   position: fixed;
   border-radius: 10%;
}

.testButton {
   padding: 1rem;
   margin: 1rem;
}