.container {
   top: 7.12rem;
   position: relative;
   background-color: blue;
   padding: 1rem;
}

.transparent {
   /* top: 7.12rem; */
   background-color: rgba(238, 235, 235, 0.7);
   min-height: min-content;
   /* max-height: 625px; */
   min-width: min-content;
   max-width: 77%;
   position: relative;
   border-radius: 10%;
   overflow: hidden;
}

.testButton {
   padding: 1rem;
   margin: 1rem;
}